{% extends 'base.html' %}
{% block head %}<script type="text/javascript">
function codeAddress() {
          alert('ok');
}
window.onload = codeAddress;
</script>

{% block endblock %}
{% block content %}
<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  var long = document.getElementById("id_long");
  var lat = document.getElementById("id_lat");

  long.value=position.coords.longitude;
  // long.value=position.coords.longitude;
  lat.value=position.coords.latitude;

  // console.log(position.coords.latitude);
  // console.log(position.coords.longitude);
}
</script>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" onclick="getLocation()">Sign up</button>
  </form>
  <button onclick="">Set Location</button>
<h1>Temprary Heading</h1>
{% endblock %}
